{% extends "bootstrap/base.html" %}
{% block title %}Title for base.html{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
	<p>Inside</p>
</div>
{% endblock %}

{% block content %}
	<div class="well">
	<p>{% session['teams'] %}</p>
		<div class="row">
			<div class="col-sm">
				<table class="table">
					<thead>
						<tr>
							{% for team in session['teams'] %}
								<td>{{ team.team_id }} {{ team.team_name }}</td>
							{% endfor %}
						</tr>
					</thead>
					<tbody>
						{% for pos in session['league'].positions %}
							<tr>
								{% for i in range(session['teams']) %}
									<td>{{ pos }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<form action="" method="post" name="home" class="form">
		{% for player, player_dct in session['league'].players.items() %}
			<button class="btn btn-primary" type="submit" value="{{ player }}" name="button">
				{{ player_dct.player_name }} {{ player_dct.overall_rank }} {{ player_dict.position_rank }}
			</button>
		{% endfor %}
	</form>
{% endblock %}
