{% extends 'base.html' %}

{% block app_content %}
    <div class="container">
        <div class="row">
		<form action="" method="post" name="undo" class="form">
			<button class="btn btn-primary" type="submit" value="UNDO" name="undo_button">Undo</button>
		</form>
	</div>
        <div class="row">
            <div class="col-sm">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>b</th>
                            {% for team in league.teams|sort(attribute='team_id') %}
                                <th>{{ team.team_name }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for idx, pos in league.positions %}
                            <tr>
                                <td>{{ pos }}</td>
                                {% for team in league.teams|sort(attribute='team_id') %}
                                    <td>{{ team.get_player(league, pos, idx) }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

	<div class="container">
    <div class="well">
	<div class="row">
	    <form action="" method="post" name="home" class="form">

			<div class="col-md-2">
				{% for rank, player_obj in league.players.items() %}
					{% if player_obj.pick|int < 1 and player_obj.position == 'QB' %}
						<button class="badge badge-pill badge-primary" type="submit" value="{{ rank }}" name="select_by_rank">
							{{ player_obj.overall_rank }} {{ player_obj.position_rank }} {{ player_obj.player_name }} {{ player_obj.nfl_team }}
						</button>
					{% endif %}
				{% endfor %}
			</div>
			
			<div class="col-md-3">
				{% for rank, player_obj in league.players.items() %}
					{% if player_obj.pick|int < 1 and player_obj.position == 'RB' %}
						<button class="badge badge-pill badge-secondary" type="submit" value="{{ rank }}" name="select_by_rank">
							{{ player_obj.overall_rank }} {{ player_obj.position_rank }} {{ player_obj.player_name }} {{ player_obj.nfl_team }}
						</button>
					{% endif %}
				{% endfor %}
			</div>

			<div class="col-md-3">
				{% for rank, player_obj in league.players.items() %}
					{% if player_obj.pick|int < 1 and player_obj.position == 'WR' %}
						<button class="badge badge-pill badge-danger" type="submit" value="{{ rank }}" name="select_by_rank">
							{{ player_obj.overall_rank }} {{ player_obj.position_rank }} {{ player_obj.player_name }} {{ player_obj.nfl_team }}
						</button>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-2">
				{% for rank, player_obj in league.players.items() %}
					{% if player_obj.pick|int < 1 and player_obj.position == 'TE' %}
						<button class="badge badge-pill badge-success" type="submit" value="{{ rank }}" name="select_by_rank">
							{{ player_obj.overall_rank }} {{ player_obj.position_rank }} {{ player_obj.player_name }} {{ player_obj.nfl_team }}
						</button>
					{% endif %}
				{% endfor %}
			</div>
			<div class="col-md-2">
				{% for rank, player_obj in league.players.items() %}
					{% if player_obj.pick|int < 1 and player_obj.position == 'DST' %}
						<button class="badge badge-pill badge-info" type="submit" value="{{ rank }}" name="select_by_rank">
							{{ player_obj.overall_rank }} {{ player_obj.position_rank }} {{ player_obj.player_name }} {{ player_obj.nfl_team }}
						</button>
					{% endif %}
				{% endfor %}
			</div>
		    </form>
		</div>
	</div>
    </div>

{% endblock %}

