{% extends 'base.html' %}
{% import 'macros.jinja' as macros %}

{% block app_content %}

	<table class="table table-sm">
		<thead>
			<tr>
				<th>
					<form action="" method="post" name="undo" class="form">
						<button class="btn btn-primary" type="submit" value="UNDO" name="undo_button">Undo</button>
					</form>
				</th>
				{% for team in league.teams|sort(attribute='team_id') %}
					<th>{{ team.team_name }}</td>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for idx, pos in league.positions %}
				<tr>
					<td>{{ pos }}</td>
					{% for team in league.teams|sort(attribute='team_id') %}
						<td>{{ team.get_player(league, pos, idx) }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>


	<div class="well">
		<form action="" method="post" name="home" class="form">
			{{ macros.display_available_players(league, "select_by_rank") }}
		</form>
	</div>

{% endblock %}

