{% extends 'base.html' %}

{% block app_content %}
	<div class="container">
	<form method="post">
			<table class="table table-borderless">
				<tbody>
					<tr>
						<td scope="col">Number of Teams:</td>
						<td margin-top="10pt">
							<dl>{{ form._fields['num_teams'] }}</dl>
						</td>
						<td scope="col">Allow Keepers:</td>
						<td>
							<dl>{{ form._fields['include_keepers'] }}</dl>
						</td>
					</tr>

					<tr>
						<td>Positions:</td>
					</tr>

					{% for v in form._fields.values() %}
						{% if v.label not in ('Teams','Keepers') %}
							<tr>
								<td>{{ v.label }}:</td>
								<td><dl>{{ v }}</dl></td>
							</tr>
						{% endif %}
					{% endfor %}

				</tbody>
			</table>
			
			<p><input type=submit value=Register></p>
		</div>
	</form>
	</div>
{% endblock %}
