{% extends 'base.html' %}

{% block app_content %}
	<form method="post">
		<table class="table table-sm">
			<tbody>
				<tr>
					<td class="col-md-1">Number of Teams:</td>
					<td class="col-md-1">
						<dl>{{ form._fields['num_teams'] }}</dl>
					</td>
					<td class="col-md-1">Allow Keepers:</td>
					<td class="col-md-1">
						<dl>{{ form._fields['include_keepers'] }}</dl>
					</td>
				</tr>

				<tr>
					<td>Positions:</td>
				</tr>

				{% for k, v in form._fields.items() %}
					{% if k not in ('num_teams','include_keepers') %}
						<tr>
							<td>{{ v.label }}:</td>
							<td><dl>{{ v }}</dl></td>
						</tr>
					{% endif %}
				{% endfor %}

			</tbody>
		</table>
            
		<button type="submit" class="btn btn-primary" value="Register">Register League</button>
	</form>
{% endblock %}
